<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
	<display-name>surpriseKindergarten</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>indexView</servlet-name>
		<jsp-file>/WEB-INF/pages/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexView</servlet-name>
		<url-pattern>/indexView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>aboutView</servlet-name>
		<jsp-file>/WEB-INF/pages/about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>aboutView</servlet-name>
		<url-pattern>/aboutView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>blogSingleView</servlet-name>
		<jsp-file>/WEB-INF/pages/blog_single.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>blogSingleView</servlet-name>
		<url-pattern>/blogSingleView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>newsBlogView</servlet-name>
		<jsp-file>/WEB-INF/pages/newsBlog.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>newsBlogView</servlet-name>
		<url-pattern>/newsBlogView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>classesView</servlet-name>
		<jsp-file>/WEB-INF/pages/classes.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>classesView</servlet-name>
		<url-pattern>/classesView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contactView</servlet-name>
		<jsp-file>/WEB-INF/pages/contact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>contactView</servlet-name>
		<url-pattern>/contactView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginView</servlet-name>
		<jsp-file>/WEB-INF/pages/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginView</servlet-name>
		<url-pattern>/loginView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>recruitView</servlet-name>
		<jsp-file>/WEB-INF/pages/recruit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>recruitView</servlet-name>
		<url-pattern>/recruitView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registerView</servlet-name>
		<jsp-file>/WEB-INF/pages/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerView</servlet-name>
		<url-pattern>/registerView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>singleClassView</servlet-name>
		<jsp-file>/WEB-INF/pages/single_class.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>singleClassView</servlet-name>
		<url-pattern>/singleClassView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>facilitiesView</servlet-name>
		<jsp-file>/WEB-INF/pages/facilities.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>facilitiesView</servlet-name>
		<url-pattern>/facilitiesView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>menuView</servlet-name>
		<jsp-file>/WEB-INF/pages/menu.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>menuView</servlet-name>
		<url-pattern>/menuView</url-pattern>
	</servlet-mapping>
	
	<!--jawr -->
    <servlet>
        <servlet-name>JavascriptServlet</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>jawr-pub.properties</param-value>
        </init-param>
        <init-param>
            <param-name>configPropertiesSourceClass</param-name>
            <param-value>net.jawr.web.resource.bundle.factory.util.MultipleFileConfigSource</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CSSServlet</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>jawr-css.properties</param-value>
        </init-param>
        <init-param>
            <param-name>configPropertiesSourceClass</param-name>
            <param-value>net.jawr.web.resource.bundle.factory.util.MultipleFileConfigSource</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>css</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JavascriptServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSSServlet</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
</web-app>